<!DOCTYPE html>
<html id="ng-app" ng-app="chattingCatApp" class="ng-scope gr__chattingcat_com">
<head>
    <style type="text/css">.ng-animate.item:not(.left):not(.right) {
        -webkit-transition: 0s ease-in-out left;
        transition: 0s ease-in-out left
    }</style>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }</style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <base href="/"> <!-- SEO --> <title>ChattingCat - Get instant correction of written English</title>
    <meta property="og:title" content="Get instant correction of written English">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chattingcat.com">
    <meta property="og:image" content="./img/facebook_og_image_golden.efac38d0.png">
    <meta property="og:description"
          content="ChattingCat provides you instant corrections of written English. Native speakers correct English writing for grammar, word choice, style, etc. And you get corrections anytime and anywhere.">
    <meta property="og:site_name" content="ChattingCat - Your foreign language buddy">
    <meta property="fb:admins" content="1583705085">
    <meta name="description"
          content="ChattingCat provides you instant corrections of written English. Native speakers correct English writing for grammar, word choice, style, etc. And you get corrections anytime and anywhere.">
    <meta name="keywords" content="chattingcat,채팅캣,실시간,영작교정,원어민,토플,토익,첨삭,교정,영어첨삭,toefl,toeic,ChattingCat">
    <meta name="naver-site-verification" content="db2f9cd5ec2e033e885a824b4cfc86aeedf15a20">
    <meta name="google-site-verification" content="TDYNtZg93Fokf1IyHX1HN_CMMHZZSSGfav5qPW9xE8c">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="./ChattingCat/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="./ChattingCat/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-retina-120x120.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-ipad-retina-152x152.png" sizes="144x144">

    <link rel="stylesheet" href="./ChattingCat/css/vendor.d4415718.css">
    <link rel="stylesheet" href="./ChattingCat/css/main.fe218946.css"> <!-- Google Analytics -->
    <script type="text/javascript" async="" src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-55QTQ4"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script>window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
    ga.l = +new Date;
    ga('create', 'UA-70950928-2', 'auto');</script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script> <!-- End Google Analytics -->
    <!-- Facebook Pixel Code -->
    <script>!function (f, b, e, v, n, t, s) {
        if (f.fbq)return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1422926004666405');</script>
    <noscript>&lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1422926004666405&amp;ev=PageView&amp;noscript=1"
        /&gt;
    </noscript> <!-- End Facebook Pixel Code --> <!-- Google Adwords -->
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js"
            charset="utf-8"></script> <!-- End Google Adwords -->
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body data-gr-c-s-loaded="true"> <!-- Google Tag Manager -->
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-55QTQ4" height="0" width="0"
    style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-55QTQ4');</script> <!-- End Google Tag Manager --> <span
        gtm-directive=""></span> <!-- uiView:  -->
<div ui-view="" class="ng-scope"><!-- uiView: undefined -->
    <ui-view class="ng-scope"><!-- top gradient -->
        <div class="shadow ng-scope"> <!-- top bar -->
            <div ng-style="{ 'height' : topBarHeight + 'px' }"
                 style="padding-left: 20px; padding-right: 20px; height: 55px;">
                <div ng-style="{ 'height' : topBarHeight + 'px' }" style="float: left; display: table; height: 55px;">
                    <div style="display: table-cell; vertical-align: middle; cursor:pointer" ng-click="reload()"><img
                            src="/./ChattingCat/img//web_logo_with_R.40b329ad.png" style="height: 20px" alt="chattingcat"></div>
                </div>
                <div class="pc-hidden">
                    <div id="mobile-menu" ng-style="{ 'height' : topBarHeight + 'px' }" ng-class="myAccountMenuOpenCss"
                         style="height: 55px;"><img src="./ChattingCat/img/mobile-menu.d5538550.png"
                                                    style="float: right; margin-top: 15px; width: 20px">
                        <ul class="mobile-menus">
                            <li><a class="red_link ng-binding" href="#" ng-click="join()">Join</a></li>
                            <li><a class="red_link ng-binding" href="#" ng-click="login()">Login</a></li>
                            <li style="border-bottom: 1px solid #ccc; padding-bottom: 7px; margin-bottom: 7px"><a
                                    class="link ng-binding" ui-sref="business" href="/business">For Business</a></li>
                            <!-- ngRepeat: lang in langList -->
                            <li data-ng-repeat="lang in langList" class="ng-scope"><a class="link ng-binding"
                                                                                      ng-click="setLang(lang.langCode)">English</a>
                            </li><!-- end ngRepeat: lang in langList -->
                            <li data-ng-repeat="lang in langList" class="ng-scope"><a class="link ng-binding"
                                                                                      ng-click="setLang(lang.langCode)">한국어</a>
                            </li><!-- end ngRepeat: lang in langList -->
                            <li data-ng-repeat="lang in langList" class="ng-scope"><a class="link ng-binding"
                                                                                      ng-click="setLang(lang.langCode)">日本語</a>
                            </li><!-- end ngRepeat: lang in langList --> </ul>
                    </div>
                </div>
                <div class="mobile-hidden">
                    <div ng-style="{ 'height' : topBarHeight + 'px' }"
                         style="float: right; display: table; height: 55px;"><a
                            class="red_link vertical-middle ng-binding" style="padding-right: 20px; font-weight: 900"
                            href="#" ng-click="join()" analytics-on="" analytics-event="Home - Top Nav - Link"
                            analytics-category="Sign Up
                 Button" analytics-label="Join">Join</a> <a class="red_link vertical-middle ng-binding"
                                                            style="padding-right: 10px; font-weight: 900" href="#"
                                                            ng-click="login()">Login</a>
                        <div analytics-on="" analytics-event="Home - Top Nav - Link"
                             analytics-category="Business Button" analytics-label="For Business" class="vertical-middle"
                             style="padding: 0 20px 0 10px"><a href="#" ng-click="goToBusiness()"
                                                               class="link ng-binding"> For Business </a></div>
                        <div style="display: table-cell; vertical-align: middle; cursor: pointer">
                            <div ng-click="showLangChange = !showLangChange" class="language-dropdown">
                                <div style="margin-top: 2px" class="ng-binding">English <img
                                        src="./ChattingCat/img//lang_dropdown_arrow.307beed6.png"
                                        style="width: 10px; float: right; margin: 6px 10px 0 0"></div>
                            </div>
                            <div ng-show="showLangChange" class="open ng-hide">
                                <ul class="dropdown-menu" style="top: 43px; right: 20px; min-width: 130px">
                                    <!-- ngRepeat: lang in langList -->
                                    <li data-ng-repeat="lang in langList" class="ng-scope"><a
                                            ng-click="setLang(lang.langCode)" class="ng-binding">English</a></li>
                                    <!-- end ngRepeat: lang in langList -->
                                    <li data-ng-repeat="lang in langList" class="ng-scope"><a
                                            ng-click="setLang(lang.langCode)" class="ng-binding">한국어</a></li>
                                    <!-- end ngRepeat: lang in langList -->
                                    <li data-ng-repeat="lang in langList" class="ng-scope"><a
                                            ng-click="setLang(lang.langCode)" class="ng-binding">日本語</a></li>
                                    <!-- end ngRepeat: lang in langList --> </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- top bar -->
            <div style="clear:both"></div> <!-- top picturetitle -->
            <div class="mobile-width" style="float:left; display:table">
                <div style="display: table-cell; vertical-align: middle; padding-bottom: 40px">
                    <div class="landing-title ng-binding" ng-bind-html="'main.title' | localized">Perfect Written
                        English When You Need It!
                    </div>
                    <div class="landing-sub-title ng-binding" ng-bind-html="'main.subtitle' | localized">ChattingCat
                        delivers instant corrections from native speaking tutors.
                    </div>
                    <div class="chat-respond-time-in-mobile-view">
                        <div chat-respond-time-directive="">
                            <div class="response-time-wrap">
                                <div class="response-time-circle">
                                    <div class="response-time-min ng-binding">5</div>
                                    <div class="response-time-unit ng-binding">Min</div>
                                </div>
                                <div class="response-time-text">
                                    <div class="respond-time-heading">Current Response Time</div>
                                    <div class="respond-time-time ng-binding">00:04:54</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-desc">
                        <button ng-click="join()" analytics-on="" analytics-event="Home -
                Hero Unit - Button" analytics-category="Sign Up Button" analytics-label="Try It Free!"
                                class="btn btn-chattingcat-red-round ng-binding"
                                style="font-size: 20px; min-width: 210px; padding: 10px 0; margin-top: 25px"> Try It
                            Free!
                        </button>
                    </div>
                    <div class="try-button"><a analytics-on="" analytics-event="Home - Hero Unit"
                                               analytics-category="Watch the Video" analytics-label="Watch the Video"
                                               class="red_link request fancybox-media ng-binding"
                                               href="//player.vimeo.com/video/92312600?autoplay=1&amp;hd=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;fullscreen=1"
                                               style="font-size: 17px"> <img
                            src="./ChattingCat/img//landing-play.ffb19649.png"
                            style="width: 20px; margin-right: 7px; margin-bottom: 5px"> Watch the Video </a></div>
                    <div class="hero-app-badges"><a
                            href="https://itunes.apple.com/app/chattingcat-english-correction/id946288386?mt=8&amp;ct=homepage_landing"
                            target="_blank"><img alt="Download on the App Store"
                                                 src="./ChattingCat/img/appstore-badge@2x.84b75363.png" height="40"
                                                 analytics-on="" analytics-event="Home - Hero Unit - Mobile Only"
                                                 analytics-category="Download App Button" analytics-label="App
                  Store"></a> <a
                            href="https://play.google.com/store/apps/details?id=com.chattingcat.app.chattingcat&amp;referrer=utm_source%3Dhomepage%26utm_medium%3Dlanding%26utm_campaign=landing&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                            target="_blank"><img alt="Get it on Google Play"
                                                 src="./ChattingCat/img/playstore-badge@2x.399e74cb.png" height="40"
                                                 analytics-on="" analytics-event="Home - Hero Unit - Mobile Only"
                                                 analytics-category="Download App Button" analytics-label="Play
                  Store"></a></div>
                </div>
            </div>
            <div class="mobile-hidden">
                <div ng-style="{ 'height' : topBannerHeight + 'px' }"
                     style="margin-top: 20px; float: right; display: table; width: 55%; height: 600px;">
                    <div class="landing-main">
                        <div chat-respond-time-directive="">
                            <div class="response-time-wrap">
                                <div class="response-time-circle">
                                    <div class="response-time-min ng-binding">5</div>
                                    <div class="response-time-unit ng-binding">Min</div>
                                </div>
                                <div class="response-time-text">
                                    <div class="respond-time-heading">Current Response Time</div>
                                    <div class="respond-time-time ng-binding">00:04:54</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--</div>--> <!-- top picturetitle -->
            <div style="clear:both"></div>
        </div> <!-- top gradient --> <!-- nav -->
        <div ng-style="{ 'height' : topNavHeight + 'px' }" class="landing-nav ng-scope"
             ng-class="{fix:scrollPos >= (topBannerHeight)}" style="height: 55px;">
            <div class="mobile-hidden">
                <div ng-style="{ 'height' : topNavHeight + 'px' }"
                     style="font-weight: 500; float: left; display: table; height: 55px;">
                    <div analytics-on="" analytics-category="Home Sub Nav" analytics-event="Overview"
                         ng-click="goToOverview('overview');" class="landing-nav-menu ng-binding"> Overview
                    </div>
                    <div analytics-on="" analytics-category="Home Sub Nav" analytics-event="Our Tutors"
                         ng-click="goToOverview('tutors');" class="landing-nav-menu ng-binding"> Our Tutors
                    </div>
                    <div analytics-on="" analytics-category="Home Sub Nav" analytics-event="Testimonials"
                         ng-click="goToOverview('testimonials');" class="landing-nav-menu ng-binding"> Testimonials
                    </div>
                    <div analytics-on="" analytics-category="Home Sub Nav" analytics-event="Pricing"
                         ng-click="goToOverview('pricing');" class="landing-nav-menu ng-binding"> Pricing
                    </div>
                </div>
            </div>
            <div ng-style="{ 'height' : topNavHeight + 'px' }" style="float: right; display: table; height: 55px;">
                <div style="display: table-cell; vertical-align: middle">
                    <button ng-click="join()" analytics-on="" analytics-event="Home -
            Sticky Sub Nav - Button" analytics-category="Sign Up Button" analytics-label="Try It Free!"
                            class="btn btn-chattingcat-red-border ng-binding" style="padding: 4px 0; min-width: 130px">
                        Try It Free!
                    </button>
                </div>
            </div>
            <div style="clear:both"></div>
        </div> <!-- nav --> <!-- overview -->
        <div id="overview" class="landing-box overview-box ng-scope">
            <div class="mobile-left mobile-desc"><img src="./ChattingCat/img/landing_1.cec91fda.png"
                                                      class="landing-number"> <span
                    ng-bind-html="'main.overview.first.title' | localized" class="ng-binding">Send English Text Using Catnip</span>
            </div>
            <div class="mobile-left landing-image-margin-bottom ng-binding"
                 style="margin-top: 30px; color: #6e6d6d; font-size: 17px"
                 ng-bind-html="'main.overview.first.desc' | localized ">Type English text into ChattingCat.<br>Your free
                trial allows you to enter up to 350 characters.<br>For more, just add catnip credits to your account.
            </div>
            <div class="mobile-hidden landing-image_1"></div>
        </div>
        <div class="landing-box overview-box ng-scope">
            <div style="margin-left: auto; margin-right: auto; text-align:center">
                <div class="mobile-left mobile-desc ng-binding"><img src="./ChattingCat/img/landing_2.ad5e8acc.png"
                                                                     class="landing-number"> Get Instant Corrections
                </div>
                <div class="mobile-left landing-image-margin-bottom ng-binding"
                     style="margin-top: 30px; color: #6e6d6d; font-size: 17px"
                     ng-bind-html="'main.overview.second.desc' | localized">ChattingCat connects you with a native
                    English speaking tutor.<br>They correct your chat and you instantly receive a revised version. <br>The
                    current average response time is just two minutes.
                </div>
                <div class="mobile-hidden landing-image_2"></div>
            </div>
        </div>
        <div class="landing-box overview-box ng-scope" style="padding-bottom: 30px">
            <div style="margin-left: auto; margin-right: auto; text-align:center">
                <div class="mobile-left mobile-desc ng-binding"><img src="./ChattingCat/img/landing_3.77dd1b7d.png"
                                                                     class="landing-number"> Learn From Your Mistakes
                </div>
                <div class="mobile-left landing-image-margin-bottom ng-binding"
                     style="margin-top: 40px; color: #6e6d6d; font-size: 17px"
                     ng-bind-html="'main.overview.third.desc' | localized">See what was corrected and improve your
                    English skills.
                </div>
                <div class="mobile-hidden landing-image_3"></div>
            </div>
        </div> <!-- overview --> <!-- our tutors -->
        <div id="tutors" class="landing-box chattingcat-gray-background ng-scope" style="padding: 70px 20px 40px 20px">
            <div class="mobile-desc ng-binding" ng-bind-html="'main.our.tutors' | localized">Meet Our Tutors</div>
            <div style="color: #6e6d6d; font-size: 17px; margin-top: 25px"
                 ng-bind-html="'main.our.tutors.subtitle' | localized " class="ng-binding">ChattingCat’s tutors are
                native English-speaking writers, teachers,<br>professionals, and grad students from all over the world.
                <br>Our tutors are available <span class="chattingcat-red">24/7</span> for all your correction needs!
            </div>
            <div class="div-flex" style="margin-top: 50px">
                <div class="tutor-box"><img src="./ChattingCat/img/landing_tutor_1.61454fda.png"
                                            class="landing-tutor-profile-photo">
                    <div class="tutor-name"><img src="./ChattingCat/img/us_flag.a48fb8f0.jpg"
                                                 class="testimonials-flag">
                        <div> Georgina Lozano</div>
                    </div>
                    <div class="tutor-username">@blitzintheasylum</div>
                    <hr class="tutor-line">
                    <div class="tutor-occu">Writer &amp; Editor</div>
                    <div class="tutor-career">University of Texas<br>B.A. in English Literature</div>
                </div>
                <div class="tutor-box"><img src="./ChattingCat/img/landing_tutor_3.81673d70.png"
                                            class="landing-tutor-profile-photo">
                    <div class="tutor-name"><img src="./ChattingCat/img/uk_flag.91c8f28c.jpg"
                                                 class="testimonials-flag">
                        <div> Dan Deacon</div>
                    </div>
                    <div class="tutor-username">@dandeacon</div>
                    <hr class="tutor-line">
                    <div class="tutor-occu">Professor</div>
                    <div class="tutor-career">University of Plymouth<br> M.A. in English Literature and History</div>
                </div>
                <div class="tutor-box"><img src="./ChattingCat/img/landing_tutor_2.f4c46f26.png"
                                            class="landing-tutor-profile-photo">
                    <div class="tutor-name"><img src="./ChattingCat/img/us_flag.a48fb8f0.jpg"
                                                 class="testimonials-flag">
                        <div> Christina Chintanaphol</div>
                    </div>
                    <div class="tutor-username">@christin_aaa</div>
                    <hr class="tutor-line">
                    <div class="tutor-occu">Doctoral Student</div>
                    <div class="tutor-career">University of Tennessee<br> Doctor of Pharmacy</div>
                </div>
            </div>
        </div> <!-- our tutors --> <!-- pricing -->
        <div id="pricing" class="landing-box ng-scope" style="padding: 70px 20px">
            <div class="mobile-desc ng-binding"><img src="./ChattingCat/img/catnip_student.f792a611.png"
                                                     style="width: 35px; margin-bottom: 8px; margin-right: 10px"> Catnip
                Prices
            </div>
            <div style="color: #6e6d6d; font-size: 17px; margin-top: 25px; margin-bottom: 35px"
                 ng-bind-html="'main.pricing.subtitle' | localized" class="ng-binding">1 catnip credit = 70
                characters<br>It’s that simple!
            </div>
            <div class="pc-hidden">
                <div class="mobile-price-box"><span style="float: left; margin-top: 5px">$6.25</span> <span
                        style="font-size: 15px; float: right; text-align: right" class="ng-binding">50 catnip<br> <span
                        style="font-size: 10px; color: #2F6F7B" class="ng-binding">3,500 characters </span> </span>
                </div>
                <div class="mobile-price-box"><span style="float: left; margin-top: 5px">$12.50</span> <span
                        style="font-size: 15px; float: right; text-align: right" class="ng-binding">100 catnip<br> <span
                        style="font-size: 10px; color: #2F6F7B" class="ng-binding">7,000 characters </span> </span>
                </div>
                <div class="mobile-price-box"><span style="float: left; margin-top: 5px">$62.50</span> <span
                        style="font-size: 15px; float: right; text-align: right" class="ng-binding">500 catnip<br> <span
                        style="font-size: 10px; color: #2F6F7B" class="ng-binding">35,000 characters </span> </span>
                </div>
                <div class="mobile-price-box"><span style="float: left; margin-top: 5px">$125.00</span> <span
                        style="font-size: 15px; float: right; text-align: right"
                        class="ng-binding">1000 catnip<br> <span style="font-size: 10px; color: #2F6F7B"
                                                                 class="ng-binding">70,000 characters </span> </span>
                </div>
            </div>
            <div class="mobile-hidden">
                <div class="div-flex pc-width">
                    <div class="pc-width-25per">
                        <div class="price-top-light-blue-bar">
                            <div class="price-for-desc">Starter</div>
                            <div class="price-dollar-box"><span class="price-dollar-standard">$</span> <span
                                    class="price-dollar">6.25</span></div>
                        </div>
                        <div class="price-box">
                            <div style="height: 75%">
                                <div class="price-white-bottom-box"><img src="./ChattingCat/img/character.6a1d8da5.png"
                                                                         class="price-character-icon"> <span
                                        class="price-character-desc ng-binding">3,500 characters</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/catnip_student.f792a611.png"
                                                                 class="price-catnip-icon"> <span
                                        class="price-catnip-desc ng-binding">50 catnip</span></div>
                                <hr class="price-hr">
                            </div>
                        </div>
                    </div>
                    <div class="pc-width-25per">
                        <div class="price-top-light-blue-bar">
                            <div class="price-for-desc">Small</div>
                            <div class="price-dollar-box"><span class="price-dollar-standard">$</span> <span
                                    class="price-dollar">12.50</span></div>
                        </div>
                        <div class="price-box">
                            <div style="height: 75%">
                                <div class="price-white-bottom-box"><img src="./ChattingCat/img/character.6a1d8da5.png"
                                                                         class="price-character-icon"> <span
                                        class="price-character-desc ng-binding">7,000 characters</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/catnip_student.f792a611.png"
                                                                 class="price-catnip-icon"> <span
                                        class="price-catnip-desc ng-binding">100 catnip</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/plus.1503fce5.png"
                                                                 class="price-character-icon"> <span
                                        class="price-catnip-desc ng-binding"><span class="price-bold">3</span> free catnip</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-width-25per">
                        <div class="price-top-dark-blue-bar">
                            <div class="price-for-desc">Medium</div>
                            <div class="price-dollar-box"><span class="price-dollar-standard">$</span> <span
                                    class="price-dollar">62.50</span></div>
                        </div>
                        <div class="price-box">
                            <div style="height: 75%">
                                <div class="price-white-bottom-box"><img src="./ChattingCat/img/character.6a1d8da5.png"
                                                                         class="price-character-icon"> <span
                                        class="price-character-desc ng-binding">35,000 characters</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/catnip_student.f792a611.png"
                                                                 class="price-catnip-icon"> <span
                                        class="price-catnip-desc ng-binding">500 catnip</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/plus.1503fce5.png"
                                                                 class="price-character-icon"> <span
                                        class="price-catnip-desc ng-binding"><span class="price-bold">25</span> free catnip</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-width-25per">
                        <div class="price-top-dark-blue-bar">
                            <div class="price-for-desc">Large</div>
                            <div class="price-dollar-box"><span class="price-dollar-standard">$</span> <span
                                    class="price-dollar">125</span></div>
                        </div>
                        <div class="price-box">
                            <div style="height: 75%">
                                <div class="price-white-bottom-box"><img src="./ChattingCat/img/character.6a1d8da5.png"
                                                                         class="price-character-icon"> <span
                                        class="price-character-desc ng-binding">70,000 characters</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/catnip_student.f792a611.png"
                                                                 class="price-catnip-icon"> <span
                                        class="price-catnip-desc ng-binding">1,000 catnip</span></div>
                                <hr class="price-hr">
                                <div style="display: table"><img src="./ChattingCat/img/plus.1503fce5.png"
                                                                 class="price-character-icon"> <span
                                        class="price-catnip-desc ng-binding"><span class="price-bold">50</span> free catnip</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="landing-box chattingcat-gray-background ng-scope" style="padding: 80px 20px">
            <div class="pc-width" style="display: table">
                <div class="landing-business-desc ng-binding" ng-bind-html="'business.title_desc' | localized">We offer
                    premium services for startups, language institutions,<br>higher education, enterprises, and the
                    government.
                </div>
                <button analytics-on="" analytics-event="Home - Page Section - Button"
                        analytics-category="Business Button" analytics-label="ChattingCat Business"
                        ng-click="goToBusiness()" class="btn btn-chattingcat-red-round landing-join-button ng-binding"
                        style="min-width: 250px"> ChattingCat Business
                </button>
            </div>
        </div> <!-- pricing --> <!-- app download -->
        <div id="download" class="landing-box ng-scope" style="padding: 70px 20px 80px 20px">
            <div class="mobile-desc ng-binding">Download ChattingCat</div>
            <div style="margin: 30px 0; color: #6e6d6d; font-size: 17px"
                 ng-bind-html="'main.app.download.subtitle' | localized" class="ng-binding">Personal tutors in your
                hand, anywhere you go!
            </div>
            <div class="div-flex">
                <div>
                    <a href="https://itunes.apple.com/app/chattingcat-english-correction/id946288386?mt=8&amp;ct=homepage_landing"
                       target="_blank"> <img src="./ChattingCat/img/app_store.ac7d924d.png" style="width: 140px"
                                             analytics-on="" analytics-event="Home - Page Section"
                                             analytics-category="Download App Button" analytics-label="App Store"></a>
                </div>
                <div style="width:10px"></div>
                <div>
                    <a href="https://play.google.com/store/apps/details?id=com.chattingcat.app.chattingcat&amp;referrer=utm_source%3Dhomepage%26utm_medium%3Dlanding%26utm_campaign=landing"
                       target="_blank"> <img src="./ChattingCat/img/play_store.5e573f1f.png" style="width: 140px"
                                             analytics-on="" analytics-event="Home - Page Section"
                                             analytics-category="Download App Button" analytics-label="Google Play"></a>
                </div>
            </div>
        </div> <!-- app download --> <!-- testimonials -->
        <div id="testimonials" class="landing-box chattingcat-gray-background ng-scope"
             style="padding: 70px 20px 80px 20px">
            <div class="mobile-desc ng-binding" style="margin-bottom: 30px"
                 ng-bind-html="'main.testimonials' | localized">Testimonials
            </div>
            <div class="div-flex pc-width">
                <div class="testimonial-box">
                    <div class="arrow_panel_down testimonial-desc"><img src="./ChattingCat/img/quotation.7be0beab.png"
                                                                        class="testimonial-quotation">
                        <div ng-bind-html="'main.testimonials.1' | localized" class="ng-binding">After I started using
                            ChattingCat, my productivity at work has increased! Now I can communicate with native
                            English-speaking clients worry-free!
                        </div>
                    </div>
                    <div style="display: table; margin-top: 30px"><img src="./ChattingCat/img/testimonials_1.979cb568.png"
                                                                       class="testimonial-student-profile">
                        <div class="testimonial-item-box" style="text-align: left"><img
                                src="./ChattingCat/img/kr_flag.4d885940.jpg" class="testimonials-flag">
                            <div class="testimonial-name ng-binding"
                                 ng-bind-html="'main.testimonials.name.1' | localized">Jongsuk Y.
                            </div>
                            <div ng-bind-html="'main.testimonials.occupation.1' | localized" class="ng-binding">Chief
                                Story Manager, Awesomeribbon.com
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-box">
                    <div class="arrow_panel_down_right testimonial-desc"><img src="./ChattingCat/img/quotation.7be0beab.png"
                                                                              class="testimonial-quotation">
                        <div ng-bind-html="'main.testimonials.4' | localized" class="ng-binding">Many years of studying
                            abroad wasn’t enough in ridding my worries of broken English. After being introduced to
                            ChattingCat, I finally felt stress-free when writing and confident at work.
                        </div>
                    </div>
                    <div style="display: table; margin-top: 30px; float: right">
                        <div class="testimonial-item-box" style="text-align: right"><img
                                src="./ChattingCat/img/jp_flag.4147f8c9.jpg" class="testimonials-flag">
                            <div class="testimonial-name ng-binding"
                                 ng-bind-html="'main.testimonials.name.4' | localized">Fumiaki U.
                            </div>
                            <div ng-bind-html="'main.testimonials.occupation.4' | localized" class="ng-binding">
                                Consultant
                            </div>
                        </div>
                        <img src="./ChattingCat/img/testimonials_4.e0c369f7.png" class="testimonial-student-profile">
                    </div>
                </div>
            </div>
            <div class="div-flex pc-width">
                <div class="testimonial-box">
                    <div class="arrow_panel_down testimonial-desc"><img src="./ChattingCat/img/quotation.7be0beab.png"
                                                                        class="testimonial-quotation">
                        <div ng-bind-html="'main.testimonials.2' | localized" class="ng-binding">Even though I have
                            learned to speak English, it is difficult for me to write papers for school. ChattingCat has
                            helped me learn to write with proper English grammar. I feel less stressed about school now!
                        </div>
                    </div>
                    <div style="display: table; margin-top: 30px"><img src="./ChattingCat/img/testimonials_2.cc28759d.png"
                                                                       class="testimonial-student-profile">
                        <div class="testimonial-item-box" style="text-align: left"><img
                                src="./ChattingCat/img/kr_flag.4d885940.jpg" class="testimonials-flag">
                            <div class="testimonial-name ng-binding"
                                 ng-bind-html="'main.testimonials.name.2' | localized">Chris L.
                            </div>
                            <div ng-bind-html="'main.testimonials.occupation.2' | localized" class="ng-binding">Recent
                                Grad
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-box">
                    <div class="arrow_panel_down_right testimonial-desc"><img src="./ChattingCat/img/quotation.7be0beab.png"
                                                                              class="testimonial-quotation">
                        <div ng-bind-html="'main.testimonials.3' | localized" class="ng-binding">I've been using
                            ChattingCat for my job search and the tutors have helped me correct mistakes in my resume
                            and cover letters. I feel more confident applying for jobs in other countries!
                        </div>
                    </div>
                    <div style="display: table; margin-top: 30px; float: right">
                        <div class="testimonial-item-box" style="text-align: right"><img
                                src="./ChattingCat/img/kr_flag.4d885940.jpg" class="testimonials-flag">
                            <div class="testimonial-name ng-binding"
                                 ng-bind-html="'main.testimonials.name.3' | localized">Jamie S.
                            </div>
                            <div ng-bind-html="'main.testimonials.occupation.3' | localized" class="ng-binding">
                                International Student
                            </div>
                        </div>
                        <img src="./ChattingCat/img/testimonials_3.07816145.png" class="testimonial-student-profile">
                    </div>
                </div>
            </div>
        </div> <!-- testimonials --> <!-- press -->
        <div class="press landing-box ng-scope">
            <div class="press-item-box"><a href="https://plus.google.com/+GoogleforEntrepreneurs/posts/fcCj3rEH1rh"
                                           target="_blank"> <img style="height: 60px"
                                                                 src="./ChattingCat/img/venture_2.fce1319c.png"> </a>
            </div>
            <div class="press-item-box"><a href="http://500.co/startup/chattingcat/" target="_blank"> <img
                    style="height: 50px; margin-top: 5px" src="./ChattingCat/img/venture_1.9561a51d.png"> </a></div>
            <div class="press-item-box"><a
                    href="http://www.forbes.com/sites/alanmcglade/2014/02/06/why-south-korea-will-be-the-next-global-hub-for-tech-startups/"
                    target="_blank"> <img style="height: 50px;  margin-top: 5px"
                                          src="./ChattingCat/img/media1.0775320e.png"> </a></div>
            <div class="press-item-box"><a
                    href="http://www.businessinsider.com/afp-s.-korea-grabs-googles-first-asian-campus-2015-5"
                    target="_blank"> <img style="height: 50px;  margin-top: 5px"
                                          src="./ChattingCat/img/media2.39494031.png"> </a></div>
            <div class="press-item-box"><a href="http://money.cnn.com/2015/12/10/technology/google-women-demo-day/"
                                           target="_blank"> <img style="height: 25px; margin-top: 18px"
                                                                 src="./ChattingCat/img/media3.3f956f0d.png"> </a></div>
            <div class="press-item-box"><a
                    href="http://techcrunch.com/2015/05/07/500-startups-accelerator-announces-its-thirteenth-batch-of-companies/"
                    target="_blank"> <img style="height: 50px;  margin-top: 5px"
                                          src="./ChattingCat/img/media4.db40276b.png"> </a></div>
        </div> <!-- press --> <!-- try -->
        <div class="landing-box ng-scope" style="padding: 80px 0">
            <button ng-click="join()" analytics-on="" analytics-event="Home - Page Bottom - Button"
                    analytics-category="Sign Up Button" analytics-label="Try It Free!"
                    class="btn btn-chattingcat-red-round landing-join-button ng-binding"> Try It Free!
            </button>
        </div> <!-- try --> <!-- footer -->
        <div layout-footer-directive="" class="ng-scope">
            <div class="footer-view">
                <div class="pc-width mobile-padding-horizontal" style="height: 150px; display: table">
                    <div style="display: table; margin: 0 auto">
                        <div style="display: table-cell; width: 25%">
                            <div><a href="#">About Us</a></div>
                            <div><a ui-sref="press" href="/press">Press</a></div>
                            <div><a href="#" ng-click="redirectTo(&quot;/blog&quot;)">Blog</a></div>
                        </div>
                        <div style="display: table-cell; width: 25%">
                            <div><a ui-sref="faq" ng-show="isShowStudentFaq || !isLogin" href="/faq">FAQs</a></div>
                            <div><a ui-sref="tutor.faq" ng-show="isShowTutorFaq" href="/tutor/faq"
                                    class="ng-hide">FAQ</a></div>
                            <div><a ui-sref="contact-us" href="/contact-us">Contact Us</a></div>
                            <div><a ui-sref="privacy" href="/privacy">Privacy</a></div>
                            <div><a ui-sref="terms" href="/terms">Terms</a></div>
                        </div>
                        <div style="display: table-cell; width: 25%">
                            <div><a ui-sref="samples" href="/samples">Samples</a></div>
                            <div><a ui-sref="becomeatutor" href="/becomeatutor">Become a Tutor</a></div>
                            <div><a ui-sref="business" href="/business">For Business</a></div>
                        </div>
                    </div>
                    <div class="footer-right footer-right-social-box"><a href="http://facebook.com/chattingcat"
                                                                         target="_blank" class="social-logo"> <img
                            src="./ChattingCat/img/facebook.04fe2fea.png" style="width: 30px"></a> <a
                            href="http://twitter.com/mychattingcat" target="_blank" class="social-logo"> <img
                            src="./ChattingCat/img/twitter.f259f1d5.png" style="width: 30px"></a> <a
                            href="http://www.linkedin.com/company/chattingcat-co" target="_blank" class="social-logo">
                        <img src="./ChattingCat/img/linkedin.cd539b2a.png" style="width: 30px"></a> <a
                            href="http://instagram.com/chattingcat" target="_blank" class="social-logo"> <img
                            src="./ChattingCat/img/instagram.ccc53a71.png" style="width: 30px"></a></div>
                </div>
                <div ng-show="isLogin" class="mobile-hidden ng-hide" style="margin-bottom: 20px; text-align: center"><a
                        href="https://itunes.apple.com/app/chattingcat-english-correction/id946288386?mt=8&amp;ct=homepage_footer"
                        target="_blank" class="social-logo"> <img src="/./ChattingCat/img/app_store.ac7d924d.png"
                                                                  class="store-image"></a> <a
                        href="https://play.google.com/store/apps/details?id=com.chattingcat.app.chattingcat&amp;referrer=utm_source%3Dhomepage%26utm_medium%3Dfooter%26utm_campaign=footer"
                        target="_blank" class="social-logo"> <img src="/./ChattingCat/img/play_store.5e573f1f.png"
                                                                  class="store-image"></a></div>
                <div style="width: 100%; color: #c9c9c9; font-weight: 100; text-align: center"> Copyright © 2017
                    ChattingCat, Inc. All rights reserved.
                </div>
            </div>
        </div> <!-- footer --></ui-view>
</div>
<!--[if lt IE 9]>
<script src="./ChattingCat/js/ie_shim.6c797ceb.js"></script>
<![endif]-->
<script src="./ChattingCat/js/vendor.144a7724.js"></script>
<script src="./ChattingCat/js/scripts.78ddddd0.js"></script>
<script src="./ChattingCat/js/checkout.js" async=""></script>
</body>
</html>