<!DOCTYPE html>
<html id="ng-app" ng-app="chattingCatApp" class="ng-scope">
<head>
    <style type="text/css">.ng-animate.item:not(.left):not(.right) {
        -webkit-transition: 0s ease-in-out left;
        transition: 0s ease-in-out left
    }</style>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }</style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <base href="/"> <!-- SEO --> <title>ChattingCat - Get instant correction of written English</title>
    <meta property="og:title" content="Get instant correction of written English">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chattingcat.com">
    <meta property="og:image" content="/images/facebook_og_image_golden.efac38d0.png">
    <meta property="og:description"
          content="ChattingCat provides you instant corrections of written English. Native speakers correct English writing for grammar, word choice, style, etc. And you get corrections anytime and anywhere.">
    <meta property="og:site_name" content="ChattingCat - Your foreign language buddy">
    <meta property="fb:admins" content="1583705085">
    <meta name="description"
          content="ChattingCat provides you instant corrections of written English. Native speakers correct English writing for grammar, word choice, style, etc. And you get corrections anytime and anywhere.">
    <meta name="keywords" content="chattingcat,채팅캣,실시간,영작교정,원어민,토플,토익,첨삭,교정,영어첨삭,toefl,toeic,ChattingCat">
    <meta name="naver-site-verification" content="db2f9cd5ec2e033e885a824b4cfc86aeedf15a20">
    <meta name="google-site-verification" content="TDYNtZg93Fokf1IyHX1HN_CMMHZZSSGfav5qPW9xE8c">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-iphone-retina-120x120.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon-ipad-retina-152x152.png" sizes="144x144">
    <link rel="stylesheet" href="styles/vendor.d4415718.css">
    <link rel="stylesheet" href="styles/main.fe218946.css"> <!-- Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-55QTQ4"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script>window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
    ga.l = +new Date;
    ga('create', 'UA-70950928-2', 'auto');</script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script> <!-- End Google Analytics -->
    <!-- Facebook Pixel Code -->
    <script>!function (f, b, e, v, n, t, s) {
        if (f.fbq)return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1422926004666405');</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1422926004666405&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code --> <!-- Google Adwords -->
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js"
            charset="utf-8"></script> <!-- End Google Adwords -->
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body class=""> <!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-55QTQ4" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-55QTQ4');</script> <!-- End Google Tag Manager --> <span
        gtm-directive=""></span> <!-- uiView:  -->
<div ui-view="" class="ng-scope"><!-- uiView: undefined -->
    <ui-view class="ng-scope">
        <div layout-nav-directive="" class="nav-wrap ng-scope ng-isolate-scope">
            <style>a {
                color: #333333;
            }

            a:hover {
                color: #A6A4A4;
                text-decoration: none;
            }

            a:focus {
                color: #333333;
                text-decoration: none;
            }

            .underbar {
                border-bottom: 3px #333333 solid;
            }</style>
            <div style="height: 55px; width: 100%; border-bottom: 1px #f0f0f0 solid">
                <div class="pc-width mobile-padding-horizontal">
                    <div style="float: left; display: table; height: 55px"><a href="" ng-click="goIndex()"
                                                                              style="display: table-cell; vertical-align: middle">
                        <img src="/images/web_logo_with_R.40b329ad.png" style="height: 20px" alt="chattingcat"> </a>
                        <div style="margin: 19px 20px 0 20px; padding-bottom: 12px" ng-show="nav.isLogin"
                             ng-class="{'underbar': currentPath === indexPath}"><a href="" ng-click="goIndex()">Home</a>
                        </div>
                        <div ng-show="accountType === 'student'" style="display: table-cell; padding-bottom: 12px"
                             ng-class="{'underbar': currentPath === 'student.new-chat'}"><a ui-sref="student.new-chat"
                                                                                            href="/student/new-chat">New
                            Chat</a></div>
                        <div ng-show="accountType !== 'student' &amp;&amp; accountType !== 'visitor'"
                             style="display: table-cell; padding-bottom: 12px"
                             ng-class="{'underbar': currentPath === 'tutor.history'}" class="ng-hide"><a
                                class="mobile-hidden" href="" ng-click="nav.goChatHistory()">Chat History</a></div>
                    </div>
                    <div style="float: right; display: table; height: 55px">
                        <div ng-show="!nav.isLogin" style="display:table-cell; vertical-align: middle" class="ng-hide">
                            <a class="red_link ng-binding"
                               style="display: table-cell; vertical-align: middle; padding-right: 20px; font-weight: 900"
                               href="#" ng-click="join()" analytics-on="" analytics-event=" - Top Nav - Link"
                               analytics-category="Sign Up Button" analytics-label="Join">Join</a> <a
                                class="red_link ng-binding"
                                style="display: table-cell; vertical-align: middle; padding-right: 10px; font-weight: 900"
                                href="#" ng-click="login()">Login</a></div>
                        <div ng-show="nav.isLogin" style="display:table-cell; vertical-align: middle">
                            <div style="cursor: pointer; display: table-cell; vertical-align: middle; padding-right:10px; position:relative"
                                 notification-directive="" class="ng-isolate-scope">
                                <div id="noti-bell" class="mobile-hidden">
                                    <div ng-show="notiCount > 0" class="noti-badge ng-binding ng-hide"> 0</div>
                                    <img src="/images/noti_bell.890f1cd2.png" style="width: 30px">
                                    <ul id="noti-list" class="dropdown-menu"
                                        style="font-size: 12px; color: rgb(110, 109, 109); width: 300px; display: none;">
                                        <li style="padding: 5px 20px; text-align: center;"
                                            ng-show="notiList.length == 0" class="ng-binding ng-hide">No New
                                            Notifications
                                        </li> <!-- ngRepeat: noti in notiList -->
                                        <li style="padding: 5px 12px; word-break: break-all"
                                            ng-repeat="noti in notiList" class="ng-scope">
                                            <div style="display:table" ng-switch="noti.type">
                                                <!-- ngSwitchWhen: rating --> <!-- ngSwitchWhen: cashout -->
                                                <!-- ngSwitchWhen: promotion --> <!-- ngSwitchWhen: bank_charge -->
                                                <!-- ngSwitchWhen: corrected --><img ng-switch-when="corrected"
                                                                                     src="/images/tutor_default_avatar.fb88ac38.png"
                                                                                     style="width: 25px; height: 25px; display: inline"
                                                                                     class="ng-scope">
                                                <!-- end ngSwitchWhen: --> <!-- ngSwitchWhen: qna_question -->
                                                <!-- ngSwitchWhen: qna_answer --> <a
                                                    style="display: table-cell; padding-left: 10px"
                                                    ng-click="link(noti)" class="ng-binding">'Hello. Dear Toastmast...'
                                                has been corrected by sosolin.</a></div>
                                        </li><!-- end ngRepeat: noti in notiList -->
                                        <li style="padding: 5px 12px; word-break: break-all"
                                            ng-repeat="noti in notiList" class="ng-scope">
                                            <div style="display:table" ng-switch="noti.type">
                                                <!-- ngSwitchWhen: rating --> <!-- ngSwitchWhen: cashout -->
                                                <!-- ngSwitchWhen: promotion --> <!-- ngSwitchWhen: bank_charge -->
                                                <!-- ngSwitchWhen: corrected --><img ng-switch-when="corrected"
                                                                                     src="/images/tutor_default_avatar.fb88ac38.png"
                                                                                     style="width: 25px; height: 25px; display: inline"
                                                                                     class="ng-scope">
                                                <!-- end ngSwitchWhen: --> <!-- ngSwitchWhen: qna_question -->
                                                <!-- ngSwitchWhen: qna_answer --> <a
                                                    style="display: table-cell; padding-left: 10px"
                                                    ng-click="link(noti)" class="ng-binding">'I majored in Japanese...'
                                                has been corrected by Lynkusu.</a></div>
                                        </li><!-- end ngRepeat: noti in notiList -->
                                        <li ng-hide="notiList.length == 0"
                                            style="padding-top: 5px; text-align: center; font-size: 13px; color: rgb(194, 15, 44); border-top: 1px solid rgb(240, 240, 240);"
                                            class=""><a href="/my-account/notification-center"
                                                        ui-sref="my-account.notification-center">More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-click="nav.goToBuyCatnip()"
                                 style="cursor: pointer; display: table-cell; vertical-align: middle; padding-right:5px; position:relative">
                                <a class="mobile-hidden" href=""><img src="images/catnip_student.f792a611.png"
                                                                      style="width: 30px; margin-right: 2px"></a> <span
                                    class="mobile-hidden ng-binding"
                                    style="vertical-align: middle; color: #2F6F7B">42</span>
                                <div id="catnipPopup" class="tool-tip ng-binding" ng-show="!nav.catnipPopupClose"><a
                                        href="" ng-click="nav.closeCatnipPopup()"> <img src="/images/close.87918b5a.png"
                                                                                        style="position: absolute; z-index: 999; right: 15px; width: 15px">
                                </a> <img src="images/catnip_student.f792a611.png"
                                          style="width: 40px; margin-bottom: 10px" ng-click="nav.goToBuyCatnip"><br>
                                    <span style="color: #C20F2C">Catnip</span> is our digital currency.<br> You now have
                                    <span style="color: #2F6F7B" class="ng-binding">42</span> catnips.
                                </div>
                            </div>
                            <div style="display: table-cell; cursor:pointer; position:relative; vertical-align: middle; padding-left: 5px">
                                <div id="accountInfo"><img class="user-icon circle ng-hide"
                                                           style="width:30px; height:30px; display: inline-block"
                                                           ng-show="nav.accountFactory.getThumbnail() !== ''" src="">
                                    <img class="user-icon" style="width:30px"
                                         ng-show="nav.accountFactory.getThumbnail() === ''"
                                         ng-src="/images/default_profile_nav.af3d0252.png"
                                         src="/images/default_profile_nav.af3d0252.png"> <span style="margin-left: 2px"
                                                                                               class="mobile-hidden ng-binding"> <img
                                            ng-show="isPremium" src="/images/crown_g.77678fd8.png"
                                            style="width: 20px; margin-bottom: 3px" class="ng-hide"> JimKim </span>
                                </div>
                                <div id="premiumPopup" class="inform-popup" ng-click="nav.closePremiumPopup()"
                                     ng-style="accountType === 'experienced_tutor' &amp;&amp; isPremium &amp;&amp; !nav.premiumPopupClose? {'visibility': 'visible'} : ''">
                                    <a href="" ng-click="nav.closePremiumPopup()"> <img src="/images/close.87918b5a.png"
                                                                                        style="position: absolute; z-index: 999; right: 15px; width: 15px">
                                    </a> <img src="/images/crown_g.77678fd8.png"
                                              style="width: 40px; margin-bottom: 10px"><br>
                                    <div style="font-size: 20px; margin-bottom: 20px; font-weight: 700">
                                        Congratulations!
                                    </div>
                                    <div style="text-align: left; font-size: 15px"> You are now a <span
                                            style="color: #2F6F7B; font-weight: 700">Professional tutor.</span><br>
                                        Every time you correct a premium chat, you will earn extra Catnip (1.5 times the
                                        regular rate). You are expected to provide the highest quality of corrections!
                                    </div>
                                </div>
                                <ul id="account-menu" class="dropdown-menu" ng-show="!tutorCommitMode"
                                    style="display: none;">
                                    <li class="mobile-hidden" ng-show="accountType === 'student'"><a
                                            ui-sref="student.new-chat" href="/student/new-chat">New Chat</a></li>
                                    <li class="mobile-hidden" ng-show="accountType === 'student'"><a
                                            ui-sref="my-account.catnip" href="/my-account/catnip">Buy Catnip</a></li>
                                    <li class="mobile-hidden ng-hide" ng-show="accountType !== 'student'"><a
                                            ui-sref="tutor.info-view({id: nav.account.info.id})"
                                            href="/tutor/tutor-view">My Page</a></li>
                                    <li role="separator" class="divider mobile-hidden"></li>
                                    <!-- organizations (dropdown menu) -->
                                    <!-- ngIf: nav.account.info.organizations.length > 0 -->
                                    <!-- ngRepeat: org in nav.account.info.organizations -->
                                    <!-- ngIf: nav.account.info.organizations.length > 0 --> <!-- organizations end -->
                                    <li class="mobile-hidden"><a ui-sref="my-account.profile" href="/my-account/index">Account</a>
                                    </li>
                                    <li class="mobile-hidden"><a ui-sref="my-account.settings"
                                                                 href="/my-account/settings">Settings</a></li>
                                    <li ng-show="nav.isLogin"><a href="" ng-click="nav.logout();">Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pc-width main-content ng-scope">
            <div class="row">
                <div class="sidebar-offcanvas master-pane" id="sidebar">
                    <ul class="nav nav-sidebar">
                        <li style="cursor: default">
                            <div class="circle"
                                 style="margin-top: 10px; background-image: url('/images/default_profile.1c98470a.png'); width:160px; height:160px"></div>
                            <div style="width:150px; text-align:center; margin: 20px 0 30px 0; font-size: 25px; font-weight: 900; word-break: break-all"
                                 class="ng-binding">
                                <div ng-show="isPremium" class="premium-badge ng-binding ng-hide"
                                     style="padding: 7px; margin: 10px auto; width: 100px;"
                                     ng-style="accountType === 'student' ? {'width':'100px'} : {'width':'120px'}"><img
                                        src="/images/crown_w.b61c1d9a.png" style="width: 15px; margin: 0 5px 5px 0">Premium
                                </div>
                                JimKim
                            </div>
                        </li>
                        <li><a ui-sref="my-account.profile" ng-class="{'active': currentPath == 'my-account.profile'}"
                               href="/my-account/index">Account</a></li>
                        <li><a ui-sref="my-account.tutor-info" ng-show="accountType !== 'student'"
                               ng-class="{'active': currentPath == 'my-account.tutor-info'}"
                               href="/my-account/tutor-info" class="ng-hide">Tutor Information</a></li>
                        <li><a ui-sref="my-account.settings" ng-class="{'active': currentPath == 'my-account.settings'}"
                               href="/my-account/settings">Settings</a></li>
                        <li><a ui-sref="my-account.notification-center"
                               ng-class="{'active': currentPath == 'my-account.notification-center'}"
                               href="/my-account/notification-center">Notifications</a></li>
                        <li><a ui-sref="my-account.catnip" ng-show="accountType === 'student'"
                               ng-class="{'active': currentPath == 'my-account.catnip' || currentPath == 'my-account.catnip-history'}"
                               href="/my-account/catnip" class="active">Buy Catnip</a></li>
                        <li><a ui-sref="my-account.cash-out" ng-show="accountType !== 'student'"
                               ng-class="{'active': currentPath == 'my-account.cash-out'}" href="/my-account/cash-out"
                               class="ng-hide">Cash Out</a></li>
                        <li><a ui-sref="my-account.coupon" ng-show="accountType === 'student'"
                               ng-class="{'active': currentPath == 'my-account.coupon'}" href="/my-account/coupon">Coupons</a>
                        </li>
                        <li><a ui-sref="my-account.referral" ng-show="accountType === 'student'"
                               ng-class="{'active': currentPath == 'my-account.referral'}" href="/my-account/referral">Invite
                            Friends</a></li>
                    </ul>
                </div>
                <div class="detail-pane">
                    <p class="visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"
                                ng-click="toggleMenu();">Toggle Menu
                        </button>
                    </p> <!-- uiView:  -->
                    <div ui-view="" class="ng-scope">
                        <div class="account-box ng-scope" style="padding-bottom: 40px">
                            <div class="account-header"><a href="/my-account/catnip" class="account_title"
                                                           ui-sref="my-account.catnip">Buy Catnip</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/my-account/buy-catnip-history" class="account_title"
                                   ui-sref="my-account.catnip-history" style="color: #A6A4A4">Buy Catnip History</a>
                            </div>
                            <div style="color: #6E6D6D; vertical-align:middle; margin: 30px 30px 40px 30px"
                                 ng-show="!showBankTransferStudent &amp;&amp; !paypalLoading">
                                <div style="border-bottom: 1px #f0f0f0 solid; display:inline-block; width:100%; padding-bottom: 10px; font-size: 20px; font-weight: 400">
                                    Payment Method
                                </div>
                                <div style="margin-top: 20px; display:inline-block; width: 100%">
                                    <!-- ngRepeat: m in paymentMethods -->
                                    <div ng-repeat="m in paymentMethods"
                                         class="payment-method__item payment-method__item--p"><span> <input id="p"
                                                                                                            ng-model="payment.currentItem"
                                                                                                            ng-value="m"
                                                                                                            ng-click="changePayment();"
                                                                                                            class="ng-pristine ng-untouched ng-valid"
                                                                                                            name="271"
                                                                                                            value="[object Object]"
                                                                                                            type="radio"> <label
                                            for="p" style="font-weight: 400" class="ng-binding">PayPal</label> </span>
                                    </div><!-- end ngRepeat: m in paymentMethods -->
                                    <div ng-repeat="m in paymentMethods"
                                         class="payment-method__item payment-method__item--c"><span> <input id="c"
                                                                                                            ng-model="payment.currentItem"
                                                                                                            ng-value="m"
                                                                                                            ng-click="changePayment();"
                                                                                                            class="ng-pristine ng-untouched ng-valid"
                                                                                                            name="273"
                                                                                                            value="[object Object]"
                                                                                                            type="radio"> <label
                                            for="c" style="font-weight: 400"
                                            class="ng-binding">Credit Card</label> </span></div>
                                    <!-- end ngRepeat: m in paymentMethods -->
                                    <div ng-repeat="m in paymentMethods"
                                         class="payment-method__item payment-method__item--b"><span> <input id="b"
                                                                                                            ng-model="payment.currentItem"
                                                                                                            ng-value="m"
                                                                                                            ng-click="changePayment();"
                                                                                                            class="ng-pristine ng-untouched ng-valid"
                                                                                                            name="275"
                                                                                                            value="[object Object]"
                                                                                                            type="radio"> <label
                                            for="b" style="font-weight: 400" class="ng-binding">Bank Transfer (Korean Only)</label> </span>
                                    </div><!-- end ngRepeat: m in paymentMethods --> </div>
                                <div id="elecPayment" style="height: 280px; padding-top: 30px;">
                                    <!-- ngRepeat: p in paypalPrices -->
                                    <div ng-repeat="p in paypalPrices" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin-left: 4px; margin-right: 4px">
                                            <div id="50"
                                                 style="border: 1px solid rgb(194, 15, 44); background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); border-radius: 3px;"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    50
                                                </div>
                                                Catnips
                                                <div style="margin: 10px 0 10px 0; font-weight: 400" class="ng-binding">
                                                    -
                                                </div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px"
                                                     class="ng-binding"> $6.25
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in paypalPrices -->
                                    <div ng-repeat="p in paypalPrices" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin-left: 4px; margin-right: 4px">
                                            <div id="100"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    100
                                                </div>
                                                Catnips
                                                <div style="margin: 10px 0 10px 0; font-weight: 400" class="ng-binding">
                                                    +3
                                                </div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px"
                                                     class="ng-binding"> $12.50
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in paypalPrices -->
                                    <div ng-repeat="p in paypalPrices" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin-left: 4px; margin-right: 4px">
                                            <div id="300"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    300
                                                </div>
                                                Catnips
                                                <div style="margin: 10px 0 10px 0; font-weight: 400" class="ng-binding">
                                                    +15
                                                </div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px"
                                                     class="ng-binding"> $37.50
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in paypalPrices -->
                                    <div ng-repeat="p in paypalPrices" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin-left: 4px; margin-right: 4px">
                                            <div id="500"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    500
                                                </div>
                                                Catnips
                                                <div style="margin: 10px 0 10px 0; font-weight: 400" class="ng-binding">
                                                    +25
                                                </div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px"
                                                     class="ng-binding"> $62.50
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in paypalPrices -->
                                    <div ng-repeat="p in paypalPrices" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin-left: 4px; margin-right: 4px">
                                            <div id="1000"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    1000
                                                </div>
                                                Catnips
                                                <div style="margin: 10px 0 10px 0; font-weight: 400" class="ng-binding">
                                                    +50
                                                </div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px"
                                                     class="ng-binding"> $125.00
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in paypalPrices --> </div>
                                <div id="bankPayment" style="height: 280px; padding-top: 30px; display: none;">
                                    <!-- ngRepeat: p in bankTransfer -->
                                    <div ng-repeat="p in bankTransfer" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin: 0 4px 0 4px">
                                            <div id="b_50"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    50
                                                </div>
                                                캣닙
                                                <div style="margin: 10px 0 10px 0">&nbsp;</div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px 0 20px 0"
                                                     class="ng-binding"> 7,500원
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in bankTransfer -->
                                    <div ng-repeat="p in bankTransfer" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin: 0 4px 0 4px">
                                            <div id="b_100"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    100
                                                </div>
                                                캣닙
                                                <div style="margin: 10px 0 10px 0">&nbsp;</div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px 0 20px 0"
                                                     class="ng-binding"> 15,000원
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in bankTransfer -->
                                    <div ng-repeat="p in bankTransfer" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin: 0 4px 0 4px">
                                            <div id="b_300"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    300
                                                </div>
                                                캣닙
                                                <div style="margin: 10px 0 10px 0">&nbsp;</div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px 0 20px 0"
                                                     class="ng-binding"> 45,000원
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in bankTransfer -->
                                    <div ng-repeat="p in bankTransfer" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin: 0 4px 0 4px">
                                            <div id="b_500"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    500
                                                </div>
                                                캣닙
                                                <div style="margin: 10px 0 10px 0">&nbsp;</div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px 0 20px 0"
                                                     class="ng-binding"> 75,000원
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in bankTransfer -->
                                    <div ng-repeat="p in bankTransfer" style="float: left; width: 20%" class="ng-scope">
                                        <div style="text-align: center; margin: 0 4px 0 4px">
                                            <div id="b_1000"
                                                 style="border:1px #C9C9C9 solid; background-color: #ffffff; color: #333333; border-radius: 3px"
                                                 ng-click="changeTotal(p);">
                                                <div style="font-size: 45px; margin: 10px 0 -5px 0" class="ng-binding">
                                                    1000
                                                </div>
                                                캣닙
                                                <div style="margin: 10px 0 10px 0">&nbsp;</div>
                                                <div style="color: #C20F2C; font-size: 20px; width: 100%; padding: 20px 0 20px 0"
                                                     class="ng-binding"> 150,000원
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end ngRepeat: p in bankTransfer --> </div>
                                <div ng-show="discountReferralList.length > 0 &amp;&amp; !paypalLoading"
                                     style="margin:0 0 20px 0; display: inline-block; width:100%" class="ng-hide">
                                    <div style="border-bottom: 1px #f0f0f0 solid; padding: 0px 0 10px 0; font-size: 20px; font-weight: 400">
                                        Discount
                                    </div>
                                    <div style="margin: 20px 0 20px 0">
                                        <table style="float: left">
                                            <tbody><!-- ngRepeat: d in discountReferralList --></tbody>
                                        </table>
                                        <span id="offRate"
                                              style="float: right; color: #333; font-size: 20px">0% OFF</span></div>
                                </div>
                                <div style="border-top: 1px #f0f0f0 solid; border-bottom: 1px #f0f0f0 solid; padding: 20px 0 20px 0; width: 100%; display:inline-block">
                                    <div style="float:right; text-align:right; font-size: 20px; font-weight:bold; width: 20%">
                                        <div id="totalCatnips" style="color: #C20F2C">50</div>
                                        <div id="totalPrice" style="color: #C20F2C">$6.25</div>
                                    </div>
                                    <div style="float: right; font-size: 20px">
                                        <div>Total Catnips</div>
                                        <div>Total Payment</div>
                                    </div>
                                </div>
                                <div style="padding: 7px 0 30px 0; height: 80px; display: table">
                                    <div id="paymentDescLine"><img src="/images/ie.cab278e0.png"
                                                                   style="width: 25px; float: left; padding-right: 8px">
                                        <span id="paymentDesc"
                                              style="padding-left: 2px; vertical-align: top; display: table-cell"> If you are using PayPal for the first time, an authorization charge for $1 will appear. You will not be charged $1, this charge will disappear. </span>
                                    </div>
                                </div>
                                <div style="padding-left: 27px"><h5><strong>Announcement - Service Closure</strong></h5>
                                    <p> ChattingCat's service will shut down on May 14th, 2017. Before making a
                                        purchase, please be aware that you will not be able to use ChattingCat after
                                        5/14/2017 23:59:59 Eastern Time. </p></div>
                                <div style="text-align: right">
                                    <button class="btn btn-chattingcat-red" ng-click="checkout();"
                                            style="width:120px; float:right">Buy Now
                                    </button>
                                    <span ng-show="checkedBankTransfer" style="float: right; padding-right: 8px"
                                          class="ng-hide"> <input class="form-control ng-pristine ng-untouched ng-valid"
                                                                  style="width: 300px" ng-model="bank.accountName"
                                                                  placeholder="입금자명" type="text"> <div
                                            class="text-danger ng-hide" ng-show="!isVaildAccountName"
                                            style="text-align: left; padding: 5px 0 0 8px"> 입금자명을 입력해주세요. </div> </span>
                                </div>
                            </div> <!-- page 전환 --> <h3 class="text-center ng-hide" style="padding: 150px 0 150px 0"
                                                        ng-show="paypalLoading"><i class="fa fa-spinner fa-spin"></i>
                            Loading... </h3>
                            <div style="margin: 40px auto; text-align: center; width: 60%"
                                 ng-show="showBankTransferStudent" class="ng-hide"><h3>신청해주셔서 감사합니다.</h3>
                                <hr>
                                <dl class="dl-horizontal">
                                    <dt>입금하실 금액</dt>
                                    <dd class="ng-binding">원 (50 Catnips)</dd>
                                    <dt>입금자명</dt>
                                    <dd class="ng-binding"></dd>
                                    <dt>예금주</dt>
                                    <dd>(주)채팅캣</dd>
                                    <dt>은행명</dt>
                                    <dd>국민은행</dd>
                                    <dt>계좌번호</dt>
                                    <dd>758637-00-002640</dd>
                                </dl>
                                <div style="text-align: center; margin: 50px auto"><img src="/images/ie.cab278e0.png"
                                                                                        style="width: 12px; margin: 0 5px 3px 0">
                                    입금 확인 후 (최대 24시간) 캣닙을 충전해 드립니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout-footer-directive="" class="ng-scope">
            <div class="footer-view">
                <div class="pc-width mobile-padding-horizontal" style="height: 150px; display: table">
                    <div style="display: table; margin: 0 auto">
                        <div style="display: table-cell; width: 25%">
                            <div><a href="#">About Us</a></div>
                            <div><a ui-sref="press" href="/press">Press</a></div>
                            <div><a href="#" ng-click="redirectTo(&quot;/blog&quot;)">Blog</a></div>
                        </div>
                        <div style="display: table-cell; width: 25%">
                            <div><a ui-sref="faq" ng-show="isShowStudentFaq || !isLogin" href="/faq">FAQs</a></div>
                            <div><a ui-sref="tutor.faq" ng-show="isShowTutorFaq" href="/tutor/faq"
                                    class="ng-hide">FAQ</a></div>
                            <div><a ui-sref="contact-us" href="/contact-us">Contact Us</a></div>
                            <div><a ui-sref="privacy" href="/privacy">Privacy</a></div>
                            <div><a ui-sref="terms" href="/terms">Terms</a></div>
                        </div>
                        <div style="display: table-cell; width: 25%">
                            <div><a ui-sref="samples" href="/samples">Samples</a></div>
                            <div><a ui-sref="becomeatutor" href="/becomeatutor">Become a Tutor</a></div>
                            <div><a ui-sref="business" href="/business">For Business</a></div>
                        </div>
                    </div>
                    <div class="footer-right footer-right-social-box"><a href="http://facebook.com/chattingcat"
                                                                         target="_blank" class="social-logo"> <img
                            src="images/footer/facebook.04fe2fea.png" style="width: 30px"></a> <a
                            href="http://twitter.com/mychattingcat" target="_blank" class="social-logo"> <img
                            src="images/footer/twitter.f259f1d5.png" style="width: 30px"></a> <a
                            href="http://www.linkedin.com/company/chattingcat-co" target="_blank" class="social-logo">
                        <img src="images/footer/linkedin.cd539b2a.png" style="width: 30px"></a> <a
                            href="http://instagram.com/chattingcat" target="_blank" class="social-logo"> <img
                            src="images/footer/instagram.ccc53a71.png" style="width: 30px"></a></div>
                </div>
                <div ng-show="isLogin" class="mobile-hidden" style="margin-bottom: 20px; text-align: center"><a
                        href="https://itunes.apple.com/app/chattingcat-english-correction/id946288386?mt=8&amp;ct=homepage_footer"
                        target="_blank" class="social-logo"> <img src="/images/footer/app_store.ac7d924d.png"
                                                                  class="store-image"></a> <a
                        href="https://play.google.com/store/apps/details?id=com.chattingcat.app.chattingcat&amp;referrer=utm_source%3Dhomepage%26utm_medium%3Dfooter%26utm_campaign=footer"
                        target="_blank" class="social-logo"> <img src="/images/footer/play_store.5e573f1f.png"
                                                                  class="store-image"></a></div>
                <div style="width: 100%; color: #c9c9c9; font-weight: 100; text-align: center"> Copyright © 2017
                    ChattingCat, Inc. All rights reserved.
                </div>
            </div>
        </div>
    </ui-view>
</div>
<!--[if lt IE 9]>
<script src="./ChattingCat/js/ie_shim.6c797ceb.js"></script>
<![endif]-->
<script src="./ChattingCat/js/vendor.144a7724.js"></script>
<script src="./ChattingCat/js/scripts.78ddddd0.js"></script>
<script src="./ChattingCat/js/.stripe.com/checkout.js" async=""></script>
</body>
</html>